@use "../../scss/index"as *;

.hero-slide {
    margin-bottom: 3rem;

    &__item {
        padding: 9rem 0;
        width: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include overlay();
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top, $body-bg, rgba(#fff, 0));
        }


        //animation khi slide được hiên thị
        &.active .hero-slide-item__content .hero-slide-item-content__poster {
            img{
                transform: scale(1);
            }
        }

        &.active .hero-slide-item__content .hero-slide-item-content__info{
            .btns,
            .title,
            .overview {
                opacity: 1;
                transform: translateY(0);
            }

            .title{
                transition-delay: .3s;
            }

            .overview{
                transition-delay: .6s;
            }

            .btns{
                transition-delay: .9s;
            }
        }
    }

    &-item {
        &__content {
            @include flex(center, center);
        }

        &-content__info {
            width: 60%;
            padding: 0 3rem;
            z-index: 10;
            position: relative;

            @include tablet {
                width: 100%;
            }

            &>*~* {
                margin-top: 3rem;
            }

            .title {
                font-size: 5rem;
                font-weight: 700;
                line-height: 1;

                @include tablet {
                    font-size: 4rem;
                }
            }

            .overview {
                font-weight: 700;
            }

            .btns>*~* {
                margin-left: 1rem;
            }

            .btns,
            .title,
            .overview {
                opacity: 0;
                transform: translateY(-100px);
                transition: all 0.5s ease-out;
            }


        }

        &-content__poster{
            flex: 1;
            @include flex(center, center);

            img{
                width: 400px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                

                transform: scale(0);
                transition: all .7s ease;

                
            }

            @include tablet{
                display: none;
            }
        }
    }

    
    
}