@use './scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;

    @include tablet{
        font-size: 0.8rem;
    }

    @include mobile{
        font-size: 0.6rem;
    }
}

body{
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;

    background-color: $body-bg;
    color: $txt-color;

    @include mobile {
        margin-bottom: 3rem;
    }
}

a{
    text-decoration: none;
    color: unset;
    //thuoc tinh cho phep ke thua lai gia tri do cua phan tu cho
    //neu phan tu cha ko co thuoc tinh do hoac thuoc tinh do ko dc ke thua(boder-color) thi gia tri se la mac dinh
}

@media (hover: hover){ //ngan viec bi giu hieu ung hover tren dien thoai
    a:hover{
        color: $main-color;
    }
}

button, input{
    outline: none; //thanh phan ben ngoai boder khong chiem kgian cua phan tu
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    object-fit: cover;
}

iframe{
    border: 0;
}

.container{
    max-width: 1600px;
    margin: 0 auto;

}

.mb-3{
    margin-bottom: 3rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.section{
    padding: 0 2rem;

    &__header{
        @include flex(center, space-between);
    }
}

